{% extends './../layout.html' %} {% block content %}
<div>
    <h1>添加（修改）图书</h1>
    <form method="post" action="/api/updateBook">
        <div class="form-group">
            <label for="bid">编码</label>
            <input type="text" class="form-control" id="bid" name="bid" placeholder="编码">
        </div>
        <div class="form-group">
            <label for="bname">书名</label>
            <input type="text" class="form-control" id="bname" name="bname" placeholder="书名">
        </div>
        <div class="form-group">
            <label for="bprice">价格</label>
            <input type="text" class="form-control" id="bprice" name="bprice" placeholder="价格">
        </div>
        <div class="form-group">
            <label for="bauth">作者</label>
            <input type="text" class="form-control" id="bauth" name="bauth" placeholder="作者">
        </div>
        <div class="form-group">
            <label for="btype">分类</label>
            <input type="text" class="form-control" id="btype" name="btype" placeholder="分类">
        </div>
        <div class="form-group">
            <label for="bdesc">简介</label>
            <textarea class="form-control" name="bdesc"></textarea>
        </div>
        <button type="submit" class="btn btn-success">新增</button>
    </form>
</div>
{% endblock %}